{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Agreement
{% endblock %}

{% block styles %}
<style>
img {
    width: 50%;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <img src="{% static 'aggrement/deal.gif' %}"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% formfield player.gender label="Choice your gender"%}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% formfield player.accept_aggrement label="Whe have a deal?"%}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% next_button %}
        </div>
</div>
{% endblock %}
