{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Real-Effort: Text {{player.current_text_idx|add:1}}/{{Constants.texts_number}}
{% endblock %}

{% block styles %}
<style>
textarea#input-area {
    width: 100%;
}

button#send-button {
    margin-top: 10px;
}
</style>
{% endblock %}

{% block content %}

    <div class="alert alert-info">
        <h4>Please Copy this text</h4>
        <hr>
        {{player.current_text}}
    </div>

    <div>
        <textarea id="input-area"></textarea>
    </div>

    <div>
        <button type="button" id="send-button" class="btn btn-primary pull-right" disabled="true">
            Send
        </button>
    </div>

{% endblock %}


{% block scripts %}
<script>
$(document).ready(function(){
    var $sendButton = $("#send-button");
    var $inputArea = $("#input-area");

    $inputArea.keyup(function(){
        var text = $inputArea.val();
        $sendButton.prop("disabled", (!text));
    });

    $sendButton.click(function(){
        $sendButton.prop('disabled', true);
        $inputArea.prop('disabled', true);
    });
});
</script>
{% endblock %}
